@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&family=Lora:wght@400;500&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-clr: #4a5c6c;
  --text-light: #f2f4fc;
  --bg-clr: #f2f4fc;
  --sel-clr: #a0a5a8;
  --border-clr: rgb(156, 176, 193);
  --primary: #03a9f4;
  --white: #f0f0f9;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #282c34;
}

h2 {
  font-family: "Lora", serif;
  color: var(--text-clr);
  font-size: 32px;
  transition: all 0.5s linear;
  min-width: 150px;
}

a {
  text-decoration: none;
}

img {
  min-width: 120px;
  max-height: 320px;
  margin: 16px 0;
  border-radius: 16px;
  transition: all 0.3s linear;
}

/* resuable code  */
.app-container {
  margin: auto;
  padding: 48px;
}

.grid {
  display: grid;
  gap: 28px;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 50%;
  max-width: 480px;
  min-height: 480px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-section {
  width: 100%;
  height: 100vh;
  background-color: var(--text-clr);
  display: grid;
  place-items: center;
}

.loading {
  font-size: 30px;
  color: var(--text-clr);
  text-align: center;
}

.list-section .loading {
  font-size: 28px;
  color: var(--bg-clr);
  text-align: center;
}

.list-card {
  min-width: 480px;
  width: 50vw;
  background-color: var(--bg-clr);
  display: grid;
  gap: 32px;
  grid-template-columns: 0.6fr 1fr;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 32px;
}

.deatils .title {
  font-size: 22px;
  color: var(--text-light);
  font-weight: bold;
  margin-top: 30px;
}

.deatils .label {
  font-size: 18px;
  color: var(--text-light);
  font-weight: bold;
  margin: 16px 0 8px 0;
}

.deatils .text {
  font-size: 13px;
  color: var(--text-light);
  font-weight: bold;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1200px) {
  .container {
    margin: auto;
    max-width: 1760px;
  }
}

@media (max-width: 998px) {
  .container {
    max-width: 1440px;
    margin: auto;
  }
  .grid-2-col {
    grid-template-columns: 1fr 1fr;
  }

  .list-section {
    height: auto;
    padding: 50px 0;
  }

  .list-card {
    grid-template-columns: 1fr;
  }

  .card-content {
    padding-left: 32px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
  .grid-2-col {
    grid-template-columns: 1fr;
  }
}
